* {
  background-color: white;
}

.color {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100px;
  height: 100px;
  float: left;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#color-pallete {
  width: 100%;
  height: 102px;
  padding-left: 29%;
  padding-right: 29%;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#title {
  text-align: center;
}