* {
  background-color: white;
}

.color {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 100px;
  height: 100px;
  display: inline-block;
  float: left;
}

.pixel {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 40px;
  height: 40px;
  float: left;
}

.selected {
  margin: 10px;
  width: 80px;
  height: 80px;
}

#pixel-board {
  width: 210px;
  height: 210px;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#black {
  background-color: black;
}

#blue {
  background-color: blue;
}

#color-palette {
  width: 408px;
  height: 102px;
  margin-left: auto;
  margin-right: auto;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
